/*---------- FONT ----------*/

/*GOTHAM BOOK*/

@font-face {
    font-family: "GothamBook";
    src: url("/fonts/gothamBook.woff2") format("woff2"),
    url("/fonts/gothamBook.woff") format("woff");
}

/*GOTHAM BOLD*/

@font-face {
    font-family: "GothamBold";
    src: url("/fonts/gothamBold.woff2") format("woff2"),
    url("/fonts/gothamBold.woff") format("woff");
}

/*DIDOT*/

@font-face {
    font-family: "Didot";
    src: url("/fonts/didot.woff2") format("woff2"),
    url("/fonts/didot.woff") format("woff");
}

/*DIDOT BOLD*/

@font-face {
    font-family: "DidotBold";
    src: url("/fonts/didotBold.woff2") format("woff2"),
    url("/fonts/didotBold.woff") format("woff");
}

/*---------- GENERAL ----------*/

* {

    margin: 0;
    padding: 0;
}

Body {
    margin: 0;
    width: 100%;
    color: #343434;
    font-family: "gothamBook"

}

main {}

a {

    list-style: none;
    color: black;
}

b {

    font-family: "GothamBold"
}

p {

    font-size: 0.8rem;
}

span {

    display: block;
}

li {

    list-style: none;
}

/*---------- ///////////////////////////////////////////////////////////////////// 
                
                                        CONTENU 

///////////////////////////////////////////////////////////////////// ----------*/

/* ---------- HEADER ---------- */

.btnBurgur {

    position: absolute;
    top: 10px;
    left: 10px;
    height: 50px;
    width: 50px;
}


.trais1 {

    height: 1px;
    width: 15px;
    background: #343434;
    margin-bottom: 2px;

}


.trais2 {

    height: 1px;
    width: 20px;
    background: #343434;
    margin-bottom: 2px;

}


.trais3 {

    height: 1px;
    width: 10px;
    background: #343434;
    margin-bottom: 2px;

}


.menu {
    position: absolute;
    width: 0%;
    overflow: hidden;
    transition: 1s;

}

.menu ul {

    height: 100vh;
    padding-top: 50%;

}


.menu ul li {
    width: 100%;
    text-align: center;
}



.menu ul li a {

    font-family: "didotBold";
    text-decoration: none;
    font-size: 3rem;
    opacity: 0.6;


}

.menu ul li a:hover {

    opacity: 1;

}

/* ------- BODY ------- */


.logo {
    display: block;
    width: 200px;
    margin: 30% auto 100px auto;
}

.txtHome {
    
    text-align: center;
}