/*---------- FONT ----------*/

/*GOTHAM BOOK*/

@font-face {
    font-family: "GothamBook";
    src: url("/fonts/gothamBook.woff2") format("woff2"),
    url("/fonts/gothamBook.woff") format("woff");
}

/*GOTHAM BOLD*/

@font-face {
    font-family: "GothamBold";
    src: url("/fonts/gothamBold.woff2") format("woff2"),
    url("/fonts/gothamBold.woff") format("woff");
}

/*DIDOT*/

@font-face {
    font-family: "Didot";
    src: url("/fonts/didot.woff2") format("woff2"),
    url("/fonts/didot.woff") format("woff");
}

/*DIDOT BOLD*/

@font-face {
    font-family: "DidotBold";
    src: url("/fonts/didotBold.woff2") format("woff2"),
    url("/fonts/didotBold.woff") format("woff");
}

/*---------- GENERAL ----------*/

* {

    margin: 0;
    padding: 0;
}

Body {
    margin: 0;
    width: 100%;
    color: #343434;
    font-family: "gothamBook"
}

main {}

a {

    list-style: none;
    color: black;
}

b {

    font-family: "GothamBold"
}

p {

    font-size: 0.8rem;
}

span {

    display: block;
}

li {

    list-style: none;
}

/*---------- ///////////////////////////////////////////////////////////////////// 
                
                                        CONTENU 

///////////////////////////////////////////////////////////////////// ----------*/

/* ---------- HEADER ---------- */

.btnBurgur {

    position: absolute;
    top: 10px;
    left: 10px;
    height: 50px;
    width: 50px;
}


.trais1 {

    height: 1px;
    width: 15px;
    background: #343434;
    margin-bottom: 3px;

}


.trais2 {

    height: 1px;
    width: 20px;
    background: #343434;
    margin-bottom: 3px;

}


.trais3 {

    height: 1px;
    width: 10px;
    background: #343434;
    margin-bottom: 3px;

}


.menu {
    position: absolute;
    width: 0%;
    overflow: hidden;
    transition: 1s;

}

.menu ul {

    height: 100vh;
    padding-top: 50%;

}


.menu ul li {
    width: 100%;
    text-align: center;
}



.menu ul li a {

    font-family: "didotBold";
    text-decoration: none;
    font-size: 3rem;
    opacity: 0.6;


}

.menu ul li a:hover {

    opacity: 1;

}

/* ------- home ------- */

.logo {
    display: block;
    width: 200px;
    margin: 30% auto 100px auto;
}

.txtHome {

    text-align: center;
}


/* ------- ABOUT ------- */

.about {

    padding: 0 20px;
}

.about h2 {

    font-family: "didot";
    font-size: 1.3rem;
    text-align: center;
    margin: 20% 0px 0 0px;
}

.about .auteur {
    margin: 5px 0 20px 20px;
    font-size: 0.6rem;
    opacity: 0.8;
    text-align: left;
    font-family: "gothamBold";
}

.about p {

    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 20px;
}

.competence {

    display: flex;
    padding: 0 20%;

}

.about .competence ul {

    font-family: "gothamBold";
    font-size: 0.6rem;
    display: block;
    margin: 0 auto;

}

.about .competence ul li {

    font-family: "gotham";
    font-size: 0.4rem;
    margin: 5px 0 5px 5px;



}

.about .competence ul li span {

    font-family: "gotham";
    font-size: 0.6rem;

}

.lowPoly{
    
    height: 260px;
    display: block;
    margin: 20px auto 0 auto;
}